.root{
    padding-top: 100px;
}

.userInfo{
    text-align: center;
}

.userInfo img{
    width: 120px;
}

.spinner{
    text-align: center;
}
.spinner div{
    width: 100px;
    height: 100px;
}

.infoList{
    list-style: none;
    text-align: left;
    margin-top: 20px;
    padding: 0 50px;
}
.infoList p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Line */
.line{
    width: 80%;
    margin: 20px auto;
    height: 1px;
    background: #ccc;
}